<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563726160180-0101nojcr8gtocpvajfpugggt9nul017.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563726160180-0101nojcr8gtocpvajfpugggt9nul017</string>
	<key>API_KEY</key>
	<string>AIzaSyCmM5glTXuivV3JApvolgxraLoYqlMO8ro</string>
	<key>GCM_SENDER_ID</key>
	<string>563726160180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chancerohda.Cat-Clicker</string>
	<key>PROJECT_ID</key>
	<string>catclick-36e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>catclick-36e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563726160180:ios:9e807a68a9e0aff0619561</string>
</dict>
</plist>